
<div class="container">
    <h1 style="text-align: center; margin: 50px 0;">Our Lovely Authors</h1>

  <%= render 'layouts/messages', notice: notice %>

   
 
<%= form_for_filterrific @filterrific do |f| %>
    <div class="grid-x grid-padding-x">

        <div class="cell medium-4">
        <%= f.label :sorted_by, "Sort by" %>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], { include_blank: 'Any' }, class: 'form-control' %>

<%= f.label :search_query, "Search Query" %>
<%= f.text_field :search_query %>

<%= f.submit "Submit" %>


<% end %>




    <table class="table table-striped table-hover">
        <thead> 
            <tr class="table-dark">
                <th>Author</th>
                <th>Contact Email</th>
                <th>Latest Publishment</th>
             
            </tr>
        </thead>
        <tbody>


            
           
            
            <% @authors.includes(:books).each do |item| %>
            <%# @authors.each do |item| %>
            
                <% if item.books.any? %>

                    <tr>

                    <td> <%= item.name  %> </td>
                    <td><%= item.email  %> </td>
                    <td><%= item.books.last.name  %> </td>


                    </tr>
                    
                <% end %>
                
            <% end %>
    
            
        </tbody>
    
    </table>
</div>