



<div class="container">
    <h1 style="text-align: center; margin: 50px 0;">All Publishments</h1>

  <%= render 'layouts/messages', notice: notice %>
 
<!--   

    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Sort by">
            <%= link_to "Sort by Name (A-Z)", books_path(filterrific: { sorted_by: 'name_asc' }), class: "btn btn-secondary" %>
            <%= link_to "Sort by Name (Z-A)", books_path(filterrific: { sorted_by: 'name_desc' }), class: "btn btn-secondary" %>
            <%= link_to "Sort by Release Date (Oldest First)", books_path(filterrific: { sorted_by: 'release_date asc' }), class: "btn btn-secondary" %>
            <%= link_to "Sort by Release Date (Newest First)", books_path(filterrific: { sorted_by: 'release_date desc' }), class: "btn btn-secondary" %>
        </div>
    </div>

!-->

 
<%= form_for_filterrific @filterrific do |f| %>
    <div class="grid-x grid-padding-x">

        <div class="cell medium-4">
        <%= f.label :sorted_by, "Sort by" %>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], { include_blank: 'Any' }, class: 'form-control' %>

<%= f.label :search_query, "Search Query" %>
<%= f.text_field :search_query %>



        
        <% f.submit "Submit"  %>
        </div>

    </div>
       <%= f.submit "Submit"  %>
<% end %>
 


 



    <table class="table table-striped table-hover">
        <thead> 
            <tr class="table-dark">
                <th>Title   </th>
                <th>Relase Date     </th>
 
                <th>Author </th>
             
            </tr>
        </thead>
        <tbody>
           
            
            <%# @books.each do |item| %> 
            <%  @books.includes(:author).each do |item|  %>

                <tr>
                    <td> <%= item.name  %> </td>
                    <td><%= item.relase_date  %> </td>
                    <td><%= item.author.name  %> </td>


                </tr>
                
            <% end %>
    
            
        </tbody>
    
    </table>

    <div style="margin: 30px 0 ;">
     <%= link_to "Download", download_path  , class: "btn btn-primary" %>
     </div>
</div>

 